ipykernel
tqdm
wheel==0.38.4
torch
torchvision
torchaudio
numpy==1.23.5
scipy==1.9.3
matplotlib==3.6.2
matplotlib-inline==0.1.6
anndata==0.8.0
pandas==1.5.2
scanpy==1.9.1
numba==0.56.4
pyro-ppl
harmonypy
leidenalg
trimap
plotly
kaleido
nbformat