{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="title">
    <h1>deconV</h1>
</div>
<div class="content">
    <form action="{{ url_for('load_files') }}" method="post">
        <div class="load_file">
            <div>
                <label for="formFile" class="form-label">Reference File (scRNA)</label>
                <input class="form-control" type="file" name="sc_path">
            </div>
        </div>

        <div class="load_file">
            <div>
                <label for="formFile" class="form-label">Bulk File (Bulk-RNA)</label>
                <input class="form-control" type="file" name="bulk_path">
            </div>
        </div>
        <div>
            <!-- <button type="button" class="btn btn-primary" type="submit">Load Files</button> -->
            <input type="submit">
        </div>
    </form>
</div>
{% endblock %}